@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53,18,79,.7);
    --purple-transparent-alt: rgba(53,18,79,.5);
    --black-light: #0d0c0e;
    --yellow-solid: #1f1d1d5d;
    --gradient-color: linear-gradient(to right, var(--yellow-solid),var(--black-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light),var(--yellow-solid)); 
}
/*GLOBAL STYLES________*/
html{
    font-size: 10px;

}
/* body{
    font-family: sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
} */
/* section{
    padding: 5rem 0;
} */

/*----------------------Reusable Button---------------------*/
.btn{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    align-items: center;
    display: inline-flex;

}

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
}

.btn-gradient{
    background-image: var(--gradient-color);
}

.btn-gradient:hover{
    background-image: var(--gradient-color-alt);
}

.btn-purple{
    background-color: black;
}

.btn-purple:hover{
    background-color: #56247f;
}
.dots{
    font-size: 2.4rem;
    margin-left: .5rem;
    opacity: .75;
}


/*----------------Booking Section Styles--------------*/

.booking{
    background-image: var(--gradient-color);
}
.input-group{
    margin-bottom: 1.5rem;
}
.input-label{
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input,
.options{
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    resize: none;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::placeholder{
    color: inherit;
}

/*-------------------contact---------*/
.section-head{
    text-align: center;
    margin-bottom: 5rem;
}
.heading{
    font-size: 4rem;
    display: block;
    text-transform: uppercase;
}

.sub-heading{
    font-size: 1.7rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: #a5a5a5;
}
.grid{
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.contact-content{
    display: flex;
    justify-content: center;

}
.contact-form{
    width: 100%;
    background-image: var(--gradient-color);
    padding: 2.5rem;

}
.contact-form .input{
    background-color: transparent;
    display: block;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #fff;
    padding-left: 0;
     
}
.bar{
    position: relative;
    display: block;

}
.bar::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--purple-light);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.contact-form .input:focus + .bar::after{
    transform: scaleX(1);

}
.btn-form-btn{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    align-items: center;
    display: inline-flex;

    
}

/*----------MEDIA QUERY_____________*/
@media screen and (min-width:768px)
{
    .contact-content{
        justify-content: space-between;
    }
    .traveler-wrap{
        display: block;
        flex: 0 0 45%;
    }

    .traveler-wrap img{
        width: 100%;
    }
    .contact-form{
        flex: 0 0 50%;
        align-self: flex-start;
    }
    .input-group-wrap{
        display: flex;
    }
    .input-group-wrap .input-group{
        width: 50%;
        margin-right: 2rem;
    }
    .input-group-wrap .input-group:last-child{
        margin-right: 0;

    }   

}
